<footer class="footer">
  <div class="container nav-container footer-container">
    <div class="footer-content">
      <a href="mailto:devorahb.ortega@gmail.com" class="contact-link">Contact Me</a>
    </div>
    <div class="social-links">
      <a href="https://github.com/devorahaberman"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/devorahaberman"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <p class="copyright">© 2025 Devorah Nina Aberman. All rights reserved.</p>
</footer>